<%include ../partials/header %>

<div class="container  mt-5">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelpcamp</p>
            <ul class="list-group">
                <li class="list-group-item active">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img src="<%=campground.image%>" class="img-fluid">
                <div class="p-2">
                    <a href="#"><h4><%=campground.name%></h4></a>             
                    <p><%=campground.description%></p>
                    <p>
                        <em>Submitted by : <a href="/user/<%=campground.author.id%>"><%=campground.author.username%></em></a>
                        <%=campground.createdAt%>
                    </p>
                    <%if(currentUser && campground.author.id.equals(currentUser._id)){%>
                        <a href="/campground/<%=campground._id%>/edit" class="btn btn-warning">Edit</a>
                        <form action="/campground/<%=campground._id%>?_method=DELETE" method="POST" id="delete-button">
                            <button class="btn btn-danger " >Delete</button>
                        </form>
                    <%}%>
                </div>
            </div>
            <div class="mt-3 p-3" style="background:#dcdcdc">
                <div class="text-right">
                    <a href="/campground/<%=campground._id%>/comments/new" class="btn btn-primary">Add new comment</a>
                </div>
                <hr>
                <%campground.comments.forEach(function(comment){%>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%=comment.author.username%></strong>
                        <p>
                            <%=comment.text%>
                        </p>
                        <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                            <a href="/campground/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-warning btn-sm">Edit</a>
                            <form action="/campground/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" id="delete-button">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        <%}%>
                    </div>
                </div>
                <%});%>
            </div>
        </div>        
    </div>
</div>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-74.50, 40],
        zoom: 9
        });
       
        var contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
        `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
     
    
     var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src=`https://maps.googleapis.com/maps/api/js?key=$(process.env.GOOGLE_MAPS_API_KEY)&callback=initMap`></script>

<%include ../partials/footer %>
